/* Resume */

#resume {
    color: 'green';

    p {
        margin-bottom: .25em;
    }

    ul.section-list {
        & details summary span {
            padding-left: 0.6em;
        }

        & details li {
            margin-left: 2.5em;
        }

        & li { 
            margin-left: 1.2em;
        }
    }
}
